@import url(https://fonts.googleapis.com/css?family=Varela);

body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: #bdbdbd; 
	font-family: Varela;
	font-weight: bold;
	color: white;
}

.article {
	margin: 10px;
	width: 600px;
	height: 200px;
	position: relative;
	text-align: justify;
}

ul{
	display: flex;
	list-style: none;
	position: absolute;
	left: -75px;
}

li{
	border-left: solid;
	width: 20px;
	padding: 1em;
	text-align: center;
}

.wrapper {
	display: flex;
	flex-direction: row;
	position: relative;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	border: solid 1px black;
	opacity: 1;
}

.text:hover {
opacity: 0.5;
}

.white {
	position: relative;
	background-color: white;
	width: 75px;
	height: 400px;
	color: black
}

.black {
	width: 60px;
	height: 200px;
	background-color: black;
	position: absolute;
	z-index: 200;
}

.wrapper :nth-child(2)  {
	left: 45px;
}

.wrapper :nth-child(4)  {
	left: 120px;
}

.wrapper :nth-child(7)  {
	left: 270px;
}
.wrapper :nth-child(9)  {
	left: 345px;
}

.wrapper :nth-child(11)  {
	left: 420px;
}

.control {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 600px;
	padding: 5px;
}

.record {
	background: url('../Images/record.png') no-repeat;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-position: center;
	cursor: pointer;
}

.stop {
	background: url('../Images/stop.png') no-repeat;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-position: center;
	opacity: 0.3;
}

a {
	color: purple;
	opacity: 0.3;
}